{% for cta in site.data.settings.sidebar_CTA %}
<div class="cta-sidebar-container">
	<div class="cta-img-container">
		{% if cta.CTA_link_text == null or cta.CTA_url == null%}
	<a href="{{cta.first_CTA_URL}}" >
		{% else %}
		<a href="{{cta.CTA_url}}" >
		{%endif%}
		<img src="{{cta.CTA_image_path}}" alt="" />
	</a>
	</div>
	<h5>{{cta.CTA_title | replace: '-- MARKET --', site.data.settings.client.market}}</h5>
	<p>
		{{cta.CTA_text | replace: '-- CLIENT BRAND --', site.data.settings.client.brand}}
	</p>
	<div class="ctacontainer">
		{% if cta.CTA_link_text == null or cta.CTA_url == null%}
		<a class="ctalink" href="{{site.data.settings.CTAs.first_CTA_URL}}" >
			{{site.data.settings.CTAs.first_CTA_text}}
		</a>
		{% else %}
		<a class="ctalink" href="{{cta.CTA_url}}" >
			{{cta.CTA_link_text | replace: '-- MARKET --', site.data.settings.client.market}}
		</a>
		{% endif %}
	</div>
</div>
{% endfor %}
{% for cta in site.data.settings.second_sidebar_CTA %}
<div class="cta-sidebar-container">
	<div class="cta-img-container">
		{% if cta.CTA_link_text2 == null or cta.CTA_url2 == null%}
	<a href="{{cta.second_CTA_URL}}" >
		{% else %}
		<a href="{{cta.CTA_url2}}" >
		{%endif%}
		<img src="{{cta.CTA_image_path2}}" alt="" />
	</a>
	</div>
	<h5>{{cta.CTA_title2 | replace: '-- MARKET --', site.data.settings.client.market}}</h5>
	<p>
		{{cta.CTA_text2 | replace: '-- MARKET --', site.data.settings.client.market}}
	</p>
	<div class="ctacontainer">
		{% if cta.CTA_link_text2 == null or cta.CTA_url2 == null%}
		<a class="ctalink" href="{{site.data.settings.CTAs.second_CTA_URL}}" >
			{{site.data.settings.CTAs.second_CTA_text}}
		</a>
		{% else %}
		<a class="ctalink" href="{{cta.CTA_url2}}" >
			{{cta.CTA_link_text2 | replace: '-- MARKET --', site.data.settings.client.market}}
		</a>
		{% endif %}
	</div>
</div>
{% endfor %}




{% for cta in site.data.settings.third_sidebar_CTA %}
<div class="cta-sidebar-container">
	<div class="cta-img-container">
		{% if cta.CTA_link_text3 == null or cta.CTA_url3 == null%}
	<a href="{{cta.third_CTA_URL}}" >
		{% else %}
		<a href="{{cta.CTA_url3}}" >
		{%endif%}
		<img src="{{cta.CTA_image_path3}}" alt="" />
	</a>
	</div>
	<h5>{{cta.CTA_title3 | replace: '-- MARKET --', site.data.settings.client.market}}</h5>
	<p>
		{{cta.CTA_text3 | replace: '-- MARKET --', site.data.settings.client.market}}
	</p>
	<div class="ctacontainer">
		{% if cta.CTA_link_text3 == null or cta.CTA_url3 == null%}
		<a class="ctalink" href="{{site.data.settings.CTAs.third_CTA_URL}}" >
			{{site.data.settings.CTAs.third_CTA_text}}
		</a>
		{% else %}
		<a class="ctalink" href="{{cta.CTA_url3}}" >
			{{cta.CTA_link_text3 | replace: '-- MARKET --', site.data.settings.client.market}}
		</a>
		{% endif %}
	</div>
</div>
{% endfor %}


{% for cta in site.data.settings.fourth_sidebar_CTA %}
<div class="cta-sidebar-container">
	<div class="cta-img-container">
		{% if cta.CTA_link_text4 == null or cta.CTA_url4 == null%}
	<a href="{{cta.fourth_CTA_URL}}" >
		{% else %}
		<a href="{{cta.CTA_url4}}" >
		{%endif%}
		<img src="{{cta.CTA_image_path4}}" alt="" />
	</a>
	</div>
	<h5>{{cta.CTA_title4 | replace: '-- MARKET --', site.data.settings.client.market}}</h5>
	<p>
		{{cta.CTA_text4 | replace: '-- MARKET --', site.data.settings.client.market}}
	</p>
	<div class="ctacontainer">
		{% if cta.CTA_link_text4 == null or cta.CTA_url4 == null%}
		<a class="ctalink" href="{{site.data.settings.CTAs.fourth_CTA_URL}}" >
			{{site.data.settings.CTAs.fourth_CTA_text}}
		</a>
		{% else %}
		<a class="ctalink" href="{{cta.CTA_url4}}" >
			{{cta.CTA_link_text4 | replace: '-- MARKET --', site.data.settings.client.market}}
		</a>
		{% endif %}
	</div>
</div>
{% endfor %}
